.hey {
  font-size: 3rem;
}

#mashrishim-app {
  --header-bg-color: #426c3e;
  --main-bg-color: #eeffd4;
  --header-text-main-color: #f4f0f0;
  --header-text-second-color: #bacc5c;
  --header-text-third-color: #eeffd4;
  --description-text-main-color: #426c3e;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  max-width: 60rem;
  /* padding: 2rem; */
  margin: 0 auto;
  overflow: hidden;
}

#header-section {
  background-color: var(--header-bg-color);
  display: flex;
  padding: 1rem;
  /* margin:0 auto; */
}

#intro-header {
  color: var(--header-text-main-color);
  /* font-family: Museum AAA; */
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  text-box-trim: none;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: right;
}

.second-color-text {
  color: var(--header-text-second-color);
}
.third-color-text {
  color: var(--header-text-third-color);
}

.description-section {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.description-subheader {
  /* font-family: Museum AAA; */
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  text-box-trim: none;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--description-text-main-color);
}

.description-paragraph {
  /* font-family: NarkisBlockStudio; */
  /* display: flex; */
  /* flex-direction: column; */
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-box-trim: none;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: right;
  color: var(--description-text-main-color);
}

#image-description-paragraph {
  gap: 1rem;
}

.description-paragraph-bold {
  font-weight: 600;
  font-style: normal;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 382px;
  height: 249px;
  background-color: var(--header-bg-color);
}

#image-container-1 {
  align-self: flex-end;
  margin-left:-25px;
  overflow: hidden;
}

#image-container-2 {
  align-self: flex-start;
  margin-right: -25px;
}

.image-block {
  display: flex;
  /* align-content: center; */
}

#image-block-1 {
  justify-content: left;
}
#image-block-1-right-img{
  margin-left:-1px;
}
#image-block-2 {
  justify-content: right;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #00000040;
  border-radius: 2rem;
  padding:1rem;
  margin:1rem;
  box-shadow: inset 1px 1px #00000040;
  
  /* margin-left:0.5rem; */
  /* margin-right:0.5rem; */
  
}

.review-top-paragraph {
  /* font-family: Museum AAA; */
  font-weight: 400;
  /* font-style: Regular; */
  font-size: 13.5px;
  /* leading-trim: NONE; */
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: right;
  color: var(--description-text-main-color);
}

.review-rating {
  display: flex;
  align-self: center;
}

.review-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-author-section {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 1rem;
}

.review-author-details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-self: center; */
  font-size: 16px;
  font-weight: 500;
}

.review-author-details-paragraph-bold {
  font-weight: 600;
  margin-bottom: 0;
}

.review-author-details-paragraph-regular {
  font-weight: 500;
  margin-top: 0;
}

.review-image {
  align-self: center;
}
#design-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-third-color);
  /* font-family: Museum AAA; */
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-box-trim: none;
  line-height: 101%;
  letter-spacing: -2%;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
}
