#homepage{
  display: flex;
  flex-direction: column;
  align-self: center;

}
.logo-section {
  display: flex;
  flex-direction: row;
}
.link-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .link-button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  
}
.link-button:hover {background-color: #e7e7e7;color: black} */
